.container {
    color: var(--color-gray-50);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    block-size: 60vh;

    font-size: var(--font-size-primary);

    img {
        opacity: 0.6;

        filter: grayscale(1) brightness(1.5);

        width: 20%;

        margin-block-end: 2rem;
    }
}
