:root {
    --color-purple-95: hsl(263deg 35% 95%);
    --color-purple-90: hsl(263deg 35% 90%);
    --color-purple-75: hsl(263deg 35% 75%);
    --color-purple-50: hsl(263deg 35% 50%);
    --color-purple-30: hsl(263deg 35% 30%);
    --color-purple-15: hsl(263deg 35% 15%);
    --color-content-bg: hsl(0deg 0% 90%);

    --color-green-60: hsl(115deg 45% 60%);

    --color-shadow: hsl(0deg 0% 0% / 31.8%);

    --color-gray-95: hsl(0deg 0% 95%);
    --color-gray-90: hsl(0deg 0% 90%);
    --color-gray-85: hsl(0deg 0% 85%);
    --color-gray-78: hsl(0deg 0% 78%);
    --color-gray-60: hsl(0deg 0% 60%);
    --color-gray-50: hsl(0deg 0% 50%);
    --color-gray-34: hsl(0deg 0% 34%);
    --color-gray-0: hsl(0deg 0% 0%);

    --color-white-solid: hsl(0deg 0% 100%);

    --font-size-small: 1rem;
    --font-size-primary: 1.3rem;
    --font-size-big: 1.7rem;

    --border-default: 0.2rem solid;

    --border-radius-minimal: 0.3rem;
    --border-radius-primary: 0.5rem;

    --topbar-block-size: 5rem;

    --gap-default: 0.5rem;
    --font-family-primary: "Nunito", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;

    font-family: var(--font-family-primary);
    font-size: 62.5%;

    text-transform: capitalize;
}

input,
button {
    background: transparent;

    border: none;

    outline: none;

    font-family: inherit;
}

input::placeholder {
    text-transform: capitalize;
}

button {
    text-transform: inherit;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

app-svg {
    display: grid;
    place-items: center;
}

.uppercase {
    text-transform: uppercase !important;
}

.absolute {
    position: absolute;
}
