:root {
    --color-purple-86: hsl(263deg 44% 86%);
    --color-purple-46: hsl(263deg 45% 46%);
    --color-purple-21: hsl(263deg 46% 21%);

    --color-gray-100: hsl(0deg 0% 100%);
    --color-gray-0: hsl(0deg 0% 0%);

    --font-size-primary: 1.3rem;

    --border-radius-minimal: 0.3rem;
    --border-radius-primary: 0.5rem;

    --font-family-primary: "Nunito", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--font-family-primary);
}

input,
button {
    background: transparent;

    border: none;

    outline: none;

    font-family: inherit;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
svg {
    width: 3rem;
    height: 3rem;
}
