<ng-container *ngIf="processTitle; else emptyBar">
    <div class="wrapper">
        <div class="row">
            <h2>
                <pre>Data preview - </pre>
                <pre>{{ processTitle }}</pre>
            </h2>

            <app-pill-menu-input
                label="Display"
                [options]="ioTypeValues"
                [value]="whichSide.toUpperCase()"
                (valueChange)="setWhichSide($event)"
                [disabled]="isSourceOrDestination"
            ></app-pill-menu-input>
        </div>

        <div class="row" [style]="{'--table-min-width': whichSide.toLowerCase() === 'both' ? '50%' : '100%'}">
            <app-data-table
                [hidden]="!(whichSide.toLowerCase() !== 'output' && inputColumns)"
                title="Input"
                [columns]="inputColumns || []"
                [rows]="inputRows || []"
            ></app-data-table>
            <app-data-table
                [hidden]="!(whichSide.toLowerCase() !== 'input' && outputColumns)"
                title="Output"
                [columns]="outputColumns || []"
                [rows]="outputRows || []"
            ></app-data-table>
        </div>
    </div>
</ng-container>
<ng-template #emptyBar>
    <div class="message">select a node to preview</div>
</ng-template>
