.input-box {
    --clr-gray-20: hsl(0deg 0% 20%);
    --color-search-bg: var(--color-white-solid);
    --color-icon: var(--color-purple-15);

    position: relative;

    inline-size: 100%;
    max-inline-size: 27rem;

    margin-inline: auto;

    border: none;

    app-svg {
        color: var(--color-icon);

        position: absolute;
        inset-block-start: 50%;
        inset-inline-start: 1rem;

        transform: translate(0, -50%);

        font-size: 1.25rem;
    }

    input {
        background-color: var(--color-search-bg);
        color: var(--color-icon);

        inline-size: 100%;

        padding: 0.5rem 0.75rem 0.5rem 4.5rem;

        border: 0.2rem solid var(--color-gray-60);
        border-radius: var(--border-radius-minimal);

        font-size: 1.6rem;

        &:focus {
            border-color: var(--color-purple-50);
        }

        &::placeholder {
            color: var(--clr-gray-20);
        }
    }
}
