.input-box {
    --clr-gray-20: hsl(0deg 0% 20%);
    --color-search-bg: var(--color-purple-86);
    --color-icon: var(--color-purple-21);

    position: relative;

    inline-size: 100%;
    max-inline-size: 27rem;

    margin-inline: auto;

    border: none;

    app-svg {
        color: var(--color-icon);

        position: absolute;
        inset-block-start: 55%;
        inset-inline-start: 1rem;

        transform: translate(0, -50%);

        font-size: 1.25rem;
    }

    input {
        background-color: var(--color-search-bg);
        color: var(--color-icon);

        inline-size: 100%;

        padding: 1rem 0.75rem 1rem 4.5rem;

        border: none;
        border-radius: var(--border-radius-minimal);

        outline: none;

        font-size: 1.6rem;

        &::placeholder {
            color: var(--clr-gray-20);
        }
    }
}
