@mixin grid-pattern($bg-color, $border-color, $border-width, $grid-size) {
    background-color: $bg-color;
    background-image: linear-gradient($border-color $border-width, transparent $border-width),
        linear-gradient(to right, $border-color $border-width, $bg-color $border-width);
    background-size: $grid-size $grid-size;
}

.container {
    position: relative;
    overflow: scroll;
    scrollbar-gutter: stable;

    block-size: 100%;

    .board {
        @include grid-pattern(var(--color-white-solid), hsl(237deg 92% 62% / 10%), 1.25px, var(--grid-size));

        position: absolute;

        block-size: calc(var(--board-h) * var(--grid-size));
        inline-size: calc(var(--board-w) * var(--grid-size));

        zoom: var(--zoom);

        .resizer {
            --size: calc(0.5 * var(--grid-size));

            background-color: var(--color-purple-46);

            position: absolute;

            inline-size: var(--size);
            aspect-ratio: 1;

            border-radius: 50%;

            &.xy {
                inset-block-start: calc(100% - var(--size) / 2);
                inset-inline-start: calc(100% - var(--size) / 2);

                cursor: se-resize;
            }

            &.x {
                inset-block-start: calc(50% - var(--size) / 2);
                inset-inline-start: calc(100% - var(--size) / 2);

                cursor: e-resize;
            }

            &.y {
                inset-block-start: calc(100% - var(--size) / 2);
                inset-inline-start: calc(50% - var(--size) / 2);

                cursor: s-resize;
            }
        }

        &::before {
            content: "";

            position: absolute;
            right: -10rem;
            bottom: -10rem;

            width: 10rem;
            height: 10rem;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;

        p {
            color: var(--color-gray-30);

            padding: 0.5rem;

            font-family: monospace;
            font-size: 2rem;
            font-weight: bold;

            transition: opacity 200ms ease-in-out;

            &.hidden {
                opacity: 0;
            }
        }
    }

    &:focus-visible {
        outline: none;
    }
}
