@mixin grid-pattern($bg-color, $border-color, $border-width, $grid-size) {
    background-color: $bg-color;
    background-image: linear-gradient($border-color $border-width, transparent $border-width),
        linear-gradient(to right, $border-color $border-width, $bg-color $border-width);
    background-size: $grid-size $grid-size;
}

@mixin dot-pattern($bg-color, $dot-space, $dot-size, $dot-color) {
    background: linear-gradient(90deg, $bg-color calc($dot-space - $dot-size), transparent 1%) center,
        linear-gradient($bg-color calc($dot-space - $dot-size), transparent 1%) center, $dot-color;
    background-size: $dot-space $dot-space;
}

.container {
    position: relative;
    overflow: scroll;
    scrollbar-gutter: stable;

    block-size: 100%;

    .board {
        @include grid-pattern(var(--color-white-solid), hsl(237deg 92% 62% / 10%), 1.25px, var(--grid-size));
        // @include dot-pattern(var(--color-white-solid), var(--grid-size), 1.25px, var(--color-gray-60));
        position: absolute;

        block-size: calc(var(--board-h) * var(--grid-size));
        inline-size: calc(var(--board-w) * var(--grid-size));

        .resizer {
            --size: calc(0.5 * var(--grid-size));

            background-color: var(--color-purple-46);

            position: absolute;

            inline-size: var(--size);
            aspect-ratio: 1;

            border-radius: 50%;

            &.xy {
                inset-block-start: calc(100% - var(--size) / 2);
                inset-inline-start: calc(100% - var(--size) / 2);

                cursor: se-resize;
            }

            &.x {
                inset-block-start: calc(50% - var(--size) / 2);
                inset-inline-start: calc(100% - var(--size) / 2);

                cursor: e-resize;
            }

            &.y {
                inset-block-start: calc(100% - var(--size) / 2);
                inset-inline-start: calc(50% - var(--size) / 2);

                cursor: s-resize;
            }
        }

        &::before {
            content: "";

            position: absolute;
            right: -10rem;
            bottom: -10rem;

            width: 10rem;
            height: 10rem;
        }
    }
}
