.modal {
    background-color: var(--color-white-solid);

    position: absolute;
    inset: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;

    padding: 0.5rem 7rem;

    border-radius: var(--border-radius-primary);

    font-size: 1.5rem;

    &__item {
        color: var(--color-purple-15);

        display: flex;
        align-items: center;
        gap: 1rem;

        cursor: pointer;

        app-svg {
            block-size: 2rem;
            inline-size: 2rem;
        }
    }
}
