.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-default);

    background-color: var(--color-purple-21);
    color: var(--color-purple-86);
    font-size: var(--font-size-primary);
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-primary);

    cursor: pointer;

    box-shadow: 0 0.2rem 0.5rem 0 var(--color-shadow);

    &:disabled {
        cursor: default;
        background-color: var(--color-gray-76);
        color: var(--color-gray-34);
    }

    &:active:not(:disabled) {
        box-shadow: inset 0 0.2rem 0.5rem 0 var(--color-shadow);
        transform: scale(0.98);
    }
}
