.modal {
  --color-modal-bg: hsl(263deg 46% 75%);
  --color-modal-border: var(--color-purple-21);

  position: absolute;
  top: 50%;
  right: 1rem;
  width: auto;
  background-color: var(--color-modal-bg);
  border: 1px solid var(--color-modal-border);
  border-radius: var(--border-radius-primary) 0 var(--border-radius-primary) var(--border-radius-primary);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
  font-size: 1.2rem;
  &__item {
    cursor: pointer;
    display: flex;
    color: var(--color-purple-21);
    gap: 1rem;
    align-items: center;
    app-svg {
      height: 1.2rem;
      width: 1.2rem;
    }
  }
}
