.container {
    display: grid;
    grid-template-columns: auto 1fr;

    height: 100vh;

    .navbar {
        background-color: var(--color-purple-21);

        padding: 1rem;
    }

    .content {
        background-color: var(--color-content-bg);
    }
}
