.container {
    display: grid;
    grid-template-columns: auto 1fr;

    height: 100vh;

    .navbar {
        background-color: var(--color-purple-15);

        z-index: 10;
    }

    .content {
        background-color: var(--color-white-solid);

        font-size: var(--font-size-primary);
    }
}
