<div class="inventory">
    <div class="inventory__header">
        <app-search-box></app-search-box>
    </div>

    <table class="inventory__table">
        <tr>
            <th>Name</th>
            <th>Created At</th>
            <th>Modified At</th>
            <th></th>
        </tr>
        <tr *ngFor="let item of pipelineItem">
            <td>{{ item.name }}</td>
            <td>{{ item.createAt | convertDate }}</td>
            <td>{{ item.modifiedAt | convertDate }}</td>
            <td><app-svg class="item-setting" iconType="dots-vertical"></app-svg></td>
        </tr>
    </table>
</div>
