<div class="inventory">
    <div class="inventory__header">
        <app-pipeline-add-button></app-pipeline-add-button>
        <app-search-box (searchPhraseChange)="searchPhrase = $event"></app-search-box>
    </div>

    <table class="inventory__table">
        <tr>
            <th>Name</th>
            <!-- <th>Created At</th>
            <th>Modified At</th> -->
            <th></th>
        </tr>
        <tr
            *ngFor="let item of pipelineService.pipelines | searchFilter: searchPhrase"
            (click)="navigateWithUrl(item.id)"
        >
            <td class="name no-cap">
                <a title="open pipeline" [routerLink]="'/pipeline/' + item.id">{{ item.name }}</a>
            </td>
            <!-- <td>{{ item.createAt | convertDate }}</td>
            <td>{{ item.modifiedAt | convertDate }}</td> -->
            <td>
                <app-svg iconType="delete" (click)="deleteModal.open(item.id)"> </app-svg>
            </td>
        </tr>
    </table>
</div>

<app-pipeline-item-modal #deleteModal class="absolute" (deleteEmit)="deleteItem($event)"></app-pipeline-item-modal>
