.list {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 20rem);
        gap: 2rem;
    }

    &__button {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;
        background-color: var(--color-gray-100);
        border-radius: var(--border-radius-minimal);
        border: 0.2rem solid var(--color-gray-78);

        &:hover {
            background-color: var(--color-gray-78);
        }
    }
}
