.wrapper{
  cursor: pointer;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 0.75rem;
  padding: 1rem;

  color: var(--color-purple-86);
  background-color: var(--color-purple-46);
  border-radius: var(--border-radius-primary);
  
  h4{
    font-size: 2rem;
  }

  &.shrink{
    h4{
      display: none;
    }
  }
}