.wrapper {
    background-color: var(--color-purple-46);
    color: var(--color-purple-86);
    display: flex;
    align-content: center;
    align-items: center;
    gap: 0.75rem;

    padding: 1rem;
    cursor: pointer;

    h4 {
        font-size: 2rem;
        text-transform: capitalize;
    }

    &.shrink {
        h4 {
            display: none;
        }
    }
}
