button {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--color-purple-46);
    color: var(--color-purple-86);
    border-radius: var(--border-radius-minimal);
}
