<div class="sidebar">
    <ng-container *ngIf="boardService.selectedNode; else emptyBar">
        <h2>{{ boardService.selectedNode.title }}</h2>
        <div *ngIf="configs" class="filters">
            <ng-container *ngFor="let config of configs | keyvalue">
                <ng-container [ngSwitch]="config.value.type">
                    <app-text-input
                        *ngSwitchCase="itemTypes.TEXT_INPUT"
                        [label]="config.value.label"
                        [(value)]="configs[config.key].value"
                    ></app-text-input>
                    <app-switch
                        *ngSwitchCase="itemTypes.SWITCH"
                        [label]="config.value.label"
                        [(value)]="configs[config.key].value"
                    ></app-switch>
                    <app-data-list
                        *ngSwitchCase="itemTypes.SELECT"
                        [options]="config.value.options!"
                        [label]="config.value.label"
                        [(value)]="configs[config.key].value"
                    ></app-data-list>
                </ng-container>
            </ng-container>
        </div>
        <app-button (click)="boardService.setNodeConfig(configs)">save</app-button>
    </ng-container>
    <ng-template #emptyBar>
        <div class="message">select a node to edit</div>
    </ng-template>
</div>
