<div class="sidebar">
    <ng-container *ngIf="boardService.selectedNode; else emptyBar">
        <h2>Config</h2>
        <div class="filters">
            <ng-container
                *ngIF="configs"
                *ngFor="let config of processes[boardService.selectedNode.processesInfoType].items"
                *ngSwitch="config.type"
            >
                <app-text-input
                    *ngSwitchCase="configTypes.TEXT_INPUT"
                    [label]="config.label"
                    [(value)]="configs[config.label]"
                ></app-text-input>
                <app-switch
                    *ngSwitchCase="configTypes.SWITCH"
                    [label]="config.label"
                    [(value)]="configs[config.label]"
                ></app-switch>
                <app-data-list
                    *ngSwitchCase="configTypes.DATA_LIST"
                    [label]="config.label"
                    [(value)]="configs[config.label]"
                ></app-data-list>
            </ng-container>
        </div>
        <app-button>save</app-button>
    </ng-container>
    <ng-template #emptyBar>
        <div class="message">select a node to edit</div>
    </ng-template>
</div>
