<app-modal #ProcessAdd title="add processor">
    <app-text-input label="name" value="new node" (valueChange)="nodeTitle = $event"></app-text-input>
    <div class="list__wrapper">
        <button
            class="list__button"
            *ngFor="let process of customProcessType()"
            (click)="addNodeHandle(nodeData, process)"
            [title]="processes[process].title"
        >
            <app-svg [iconType]="processes[process].icon"></app-svg>
            {{ processes[process].title }}
        </button>
    </div>
</app-modal>
