<app-board>
    <div class="wrapper">
        <ng-container *ngFor="let pipelineNodeData of pipelineNodeDatas">
            <app-pipeline-node
                [id]="pipelineNodeData.id"
                (staticClick)="clickNodeElement(pipelineNodeData.id)"
                draggabilly
                [options]="draggabillyOptions"
                [pipelineNodeData]="pipelineNodeData"
                (dragStart)="setToUpperLayer(pipelineNodeData.id)"
                (dragEnd)="savePositionNodeElement(pipelineNodeData.id)"
                (dragMove)="updateLeaderLine(pipelineNodeData.id)"
                ngDraggable
                [position]="pipelineNodeData.position"
                (removeNodeEmit)="
                    removeNode.openModal(pipelineNodeData.id, pipelineNodeData.beforeId, pipelineNodeData.afterId)
                "
                (addNodeEmit)="
                    addNode.openModal(pipelineNodeData.id, pipelineNodeData.afterId, pipelineNodeData.position)
                "
            ></app-pipeline-node>
        </ng-container>
    </div>

    <app-remove-node class="absolute" #removeNode (removeNodeEmit)="removeNodeComponent($event)"></app-remove-node>
    <app-add-node class="absolute" #addNode (addNodeEmit)="addNodeComponent($event)"></app-add-node>
</app-board>
