<app-board>
    <div class="wrapper">
        <ng-container *ngFor="let pipelineNodeData of pipelineNodeDatas">
            <app-pipeline-node
                [id]="pipelineNodeData.id"
                (staticClick)="clickNodeElement(pipelineNodeData.id)"
                draggabilly
                [options]="draggabillyOptions"
                [pipelineNodeData]="pipelineNodeData"
                (dragStart)="setToUpperLayer(pipelineNodeData.id); draggedNodeId = pipelineNodeData.id"
                (dragEnd)="savePositionNodeElement(pipelineNodeData.id); draggedNodeId = null"
                (dragMove)="updateLeaderLine(pipelineNodeData.id)"
                ngDraggable
                [position]="pipelineNodeData.position"
                (removeNodeEmit)="removeNodeComponent(pipelineNodeData.id)"
                (addNodeEmit)="addNodeComponent($event, pipelineNodeData.id)"
                [ngStyle]="{cursor: draggedNodeId === pipelineNodeData.id ? 'grabbing' : 'grab'}"
            ></app-pipeline-node>
        </ng-container>
    </div>
</app-board>
