<app-board>
    <div class="wrapper">
        <ng-container *ngTemplateOutlet="recursiveListTmpl; context: {list: pipelineNodeDatas}"></ng-container>

        <ng-template #recursiveListTmpl let-list="list">
            <ng-container *ngFor="let nodeData of list">
                <app-pipeline-node
                    [id]="nodeData.id"
                    (staticClick)="clickNodeElement(nodeData.id)"
                    draggabilly
                    [options]="draggabillyOptions"
                    [pipelineNodeData]="nodeData"
                    (dragStart)="setToUpperLayer(nodeData.id)"
                    (dragEnd)="savePositionNodeElement(nodeData.id)"
                    (dragMove)="updateLeaderLine(nodeData.id, list)"
                    ngDraggable
                    [position]="nodeData.position"
                    (removeNodeEmit)="removeNodeComponent(nodeData.id)"
                    (addNodeEmit)="addNodeComponent($event, nodeData.id)"
                ></app-pipeline-node>
                <ng-container *ngIf="nodeData.pipelines.length > 0">
                    <ng-container
                        *ngTemplateOutlet="recursiveListTmpl; context: {list: nodeData.pipelines}"
                    ></ng-container>
                </ng-container>
            </ng-container>
        </ng-template>
    </div>
</app-board>
