.modal {
    --color-modal-bg: var(--color-white-solid);
    --color-modal-hover: var(--color-gray-78);
    --color-modal-border: var(--color-purple-21);
    background-color: var(--color-modal-bg);

    position: absolute;
    top: 50%;
    right: 56%;
    overflow: hidden;
    z-index: 1;

    display: flex;
    flex-direction: column;

    width: auto;

    // border: 1px solid var(--color-modal-border);
    box-shadow: 0 0 0.5rem 0.1rem var(--color-shadow);
    border-radius: var(--border-radius-primary) 0 var(--border-radius-primary) var(--border-radius-primary);

    &__item {
        color: var(--color-purple-21);

        display: flex;
        align-items: center;
        gap: 1rem;

        padding: 1rem 1.5rem;

        cursor: pointer;

        app-svg {
            width: 1.5rem;
            height: 1.5rem;
        }

        &:hover {
            background-color: var(--color-modal-hover);
        }
    }
}
