<div class="container">
    <div class="top-bar">
        <h1>Pipeline name</h1>
        <app-run-button></app-run-button>
        <button
            id="sidebar"
            class="toggle-button"
            [ngClass]="{true: sideBarShown}"
            (click)="sideBarShown = !sideBarShown"
        >
            <app-svg iconType="sidebar"></app-svg>
        </button>
        <button
            id="bottombar"
            class="toggle-button"
            [ngClass]="{true: bottomBarShown}"
            (click)="bottomBarShown = !bottomBarShown"
        >
            <app-svg iconType="bottombar"></app-svg>
        </button>
    </div>
    <app-side-bar [hidden]="!sideBarShown"></app-side-bar>
    <app-bottom-bar [hidden]="!bottomBarShown"></app-bottom-bar>
    <app-pipeline-board></app-pipeline-board>
</div>
