<div class="container">
    <div class="top-bar">
        <h1>Pipeline name</h1>
        <app-run-button></app-run-button>
        <button
            id="sidebar"
            class="toggle-button"
            [ngClass]="{true: sideBarShown}"
            (click)="sideBarShown = !sideBarShown"
        >
            <app-svg iconType="sidebar"></app-svg>
        </button>
        <button
            id="bottombar"
            class="toggle-button"
            [ngClass]="{true: bottomBarShown}"
            (click)="bottomBarShown = !bottomBarShown"
        >
            <app-svg iconType="bottombar"></app-svg>
        </button>
    </div>
    <div class="side-bar" [ngClass]="{hidden: !sideBarShown}"></div>
    <div class="bottom-bar" [ngClass]="{hidden: !bottomBarShown}">
        <app-data-table></app-data-table>
    </div>
    <app-pipeline-board></app-pipeline-board>
</div>
