.dataset {
    --color-hr-border: var(--color-gray-60);
    --color-hr-bg: var(--color-white-solid);
    --color-hr-bg-hover: var(--color-gray-78);

    --color-th-text: var(--color-gray-0);
    --color-th-bg: var(--color-white-solid);

    --color-td-text: hsl(0deg 0% 20%);
    display: flex;
    flex-direction: column;
    gap: 3rem;

    inline-size: 90%;

    margin-inline: auto;
    padding-block-start: 7rem;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;

        app-svg {
            background-color: var(--color-th-bg);

            block-size: auto;

            padding: 0.5rem;

            border-radius: var(--border-radius-primary) var(--border-radius-primary) var(--border-radius-primary) 0;

            cursor: pointer;
        }
    }

    &__table {
        border-collapse: collapse;
        border-radius: var(--border-radius-minimal);

        tr {
            background-color: var(--color-hr-bg);

            border: 2px solid var(--color-hr-border);

            &:hover {
                background-color: var(--color-hr-bg-hover);
            }
        }

        tr:first-child {
            background-color: var(--color-th-bg);
        }

        tr:not(:first-child) {
            border-top: none;
        }

        th {
            color: var(--color-th-text);

            font-size: var(--font-size-big);
            font-weight: 700;
        }

        td {
            color: var(--color-td-text);

            position: relative;

            font-size: var(--font-size-primary);

            text-align: center;
            text-transform: none !important;
        }

        td,
        th {
            padding: 1rem 0.75rem;

            text-transform: capitalize;
        }

        .item-setting {
            block-size: 2rem;

            cursor: pointer;
        }
    }
}
