.wrapper {
    font-weight: 600;
    border: 3px solid var(--color-purple-21);
    background-color: var(--color-purple-86);
    text-transform: capitalize;
    cursor: pointer;

    padding: 1rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .label{
        font-size: 2.5rem;
    }
}
