.wrapper {
  width: 20rem;
  height: 10rem;
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: 700;
  border: 1px solid var(--color-purple-21);
  background-color: var(--color-purple-86);
}