.wrapper {
    font-weight: 600;
    width: 20rem;
    border-radius: var(--border-radius-primary);
    border: 3px solid var(--color-purple-21);
    color: var(--color-purple-21);
    background-color: var(--color-purple-86);

    text-transform: capitalize;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    app-svg{
        color: var(--color-purple-46);
    }
    .label {
        font-size: 2.5rem;
        text-align: center;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
