.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;

    > * {
        padding: 1rem 1.5rem 1rem 0.5rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .opener {
        background-color: var(--color-purple-46);

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        block-size: var(--topbar-block-size);
        inline-size: 100%;

        padding-inline-start: 1.5rem;

        p {
            color: var(--color-purple-86);

            font-size: var(--font-size-big);
            font-weight: 600;
        }

        app-svg {
            color: var(--color-purple-86);

            transition: transform 0.3s ease;

            cursor: pointer;
        }

        &.shrink {
            padding-inline-start: 0.5rem;

            app-svg {
                transform: rotate(-180deg);
            }
        }
    }
}
