<div class="wrapper">
    <ng-container *ngFor="let pipelineNodeData of pipelineNodeDatas">
        <app-pipeline-node
            [id]="pipelineNodeData.id"
            (staticClick)="clickNodeElement(pipelineNodeData.id)"
            draggabilly
            [options]="draggabillyOptions"
            [pipelineNodeData]="pipelineNodeData"
            (dragEnd)="savePositionNodeElement(pipelineNodeData.id)"
            ngDraggable
            [position]="pipelineNodeData.position"
        ></app-pipeline-node>
    </ng-container>
    <div #item1 class="item item1">ali</div>
    <div #item2 class="item item2">zahra</div>
</div>
