label {
    --slider-length: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: var(--font-size-primary);

    cursor: pointer;

    input {
        display: none;
    }

    span {
        background-color: var(--color-white-solid);

        position: relative;

        block-size: calc(2 / 3 * var(--slider-length));
        inline-size: calc(2 * var(--slider-length));

        border: 0.1rem solid var(--color-gray-90);
        border-radius: 999rem;

        &::before {
            content: "";

            background-color: var(--color-purple-21);
            opacity: 0;

            position: absolute;
            inset: 0;

            border-radius: 999rem;

            transition: opacity 0.3s ease-out;
        }

        &::after {
            content: "";

            background-color: var(--color-white-solid);
            box-shadow: 0 0 0.5rem 0 var(--color-gray-60);

            position: absolute;
            inset-block-start: 0;
            inset-inline-start: 0;

            block-size: var(--slider-length);
            inline-size: var(--slider-length);

            border-radius: 999rem;

            transform: translate(-25%, -25%);
            transform-origin: center center;

            transition: transform 0.3s ease-out;
        }
    }

    input:disabled + span {
        &::before {
            background-color: var(--color-gray-34);
            opacity: 1;
        }

        &::after {
            background-color: var(--color-gray-60);
        }
    }

    input:checked + span {
        &::before {
            opacity: 1;
        }

        &::after {
            transform: translate(125%, -25%);
        }
    }
}
