app-svg {
    inline-size: 1.7rem;
}

.upload {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;

    label {
        background-color: var(--color-green-60);
        color: var(--color-white-solid);

        padding: 0.5rem 1rem;

        border-radius: var(--border-radius-primary);

        input {
            display: none;
        }
    }

    span {
        overflow: hidden;

        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
