.wrapper {
    background-color: var(--color-white-solid);
    color: var(--color-purple-15);

    // border: 3px solid var(--color-purple-15);
    box-shadow: 0 0 0.3rem 0.2rem var(--color-shadow);

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 22rem;
    height: 10rem;

    padding: 0.6rem 1rem;

    border-radius: var(--border-radius-primary);

    font-weight: 600;

    text-transform: capitalize;

    app-svg {
        color: var(--color-purple-30);

        width: 4rem;
    }

    .desc {
        width: 100%;

        .label {
            overflow: hidden;

            width: 100%;

            font-size: var(--font-size-big);

            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        p {
            opacity: 0.8;

            font-size: var(--font-size-primary);
            font-size: 1.25rem;

            text-align: center;
        }
    }

    .setting {
        position: absolute;
        inset: 0;

        font-size: 0.2rem;

        &__icon {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            z-index: 10;

            width: 2rem;
            height: 2rem;

            cursor: pointer;
        }

        &__modal {
            z-index: -1;
        }

        .modal {
            position: absolute;

            &__container {
                display: flex;
                justify-content: center;
                gap: 1rem;
            }
        }
    }
}
