<div class="wrapper" [title]="pipelineNodeData.title">
    <div class="desc">
        <h3 class="label">{{ pipelineNodeData.title }}</h3>
        <p>{{ pipelineNodeData.processesInfoType.title }}</p>
    </div>

    <app-svg [iconType]="pipelineNodeData.processesInfoType.icon"></app-svg>

    <div class="setting">
        <app-svg
            class="setting__icon"
            (click)="toggleShowItemSettingModal(); $event.stopPropagation()"
            iconType="dots-vertical"
        ></app-svg>
        <ng-container *ngIf="pipelineNodeData.openedSettingModal">
            <app-setting-item-modal
                class="setting__modal"
                (newNodeEmit)="addNode.openModal()"
                (configNodeEmit)="configNode(pipelineNodeData.id)"
                (deleteNodeEmit)="removeNode.openModal()"
            ></app-setting-item-modal>
        </ng-container>
    </div>

    <app-remove-node
        class="absolute"
        #removeNode
        [nodeData]="pipelineNodeData"
        (removeNodeEmit)="removeNodeEmit.emit()"
    ></app-remove-node>

    <app-add-node
        class="absolute"
        #addNode
        [nodeData]="pipelineNodeData"
        (addNodeEmit)="addNodeEmit.emit($event)"
    ></app-add-node>
</div>
