label {
    display: flex;
    flex-direction: column;
    gap: var(--gap-default);

    font-size: var(--font-size-primary);
    font-weight: 600;

    input {
        background-color: var(--color-white-solid);

        padding: 0.5rem;

        border: var(--border-default) var(--color-purple-46);
        border-radius: var(--border-radius-minimal);

        &:disabled {
            border-color: var(--color-gray-60);
        }
    }
}
